<app-header></app-header>
<app-navbar></app-navbar>
<h1>{{title}}</h1>
<p>{{vathana}}</p>
<p class="bg-dark">lorep
</p>
<p>{{1+2}}</p>
<img [src]="imgurl" alt="">


<!-- classs Binding -->
<button [class.active]="isActive" [class.no-ctive]="!isActive" [class.active-border]="isActive" [class.no-active-border]="!isActive">Click me</button>

<button [class.apple]="fruitName =='Apple'">Hello</button>

<!-- style binding -->
<button [style.background]="isActive?'red':'green'" [style.border]="isActive ?'3px solid yellow':''">Click</button>